<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
</head>
<body>
    <h1 style = "text-align:center">Hello, {{ name }}!</h1>
    <p>You are {{ tutor }} years old.</p>
    <h1> heeey my age is {{age}} hahaha .</p>
    
    <img src = 'https://i.kym-cdn.com/entries/icons/facebook/000/032/256/1.jpg'>
    
    
    <h1 style = "text-align:center"> this is made by {{name}}   </h1>
</body>

</html>
